body {
  background:linear-gradient(#AACCFF 0%, #EBF3FF 97.4%);
  background-size:cover;
  background-repeat:no-repeat;
  background-attachment:fixed;
  background-position:center;
}

.navbar {
  background-color: #408CFF !important;
  border-color: #408CFF !important;
}
